<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация</h2>

<form th:action="@{/reg}" th:object="${userCreateDto}" method="post">

    <div>
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" th:field="*{firstName}" />
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </div>

    <div>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" th:field="*{lastName}" />
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>

    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" th:field="*{password}" />
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>

    <div>
        <label for="birthday">Дата рождения:</label>
        <input type="date" id="birthday" th:field="*{birthday}" />
        <span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
    </div>

    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>